.head{
      
    background-color:lemonchiffon;
    border:solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    
     }
  
     .note{
       background-color: red;
       border: dotted;
       font-family: 'Times New Roman', Times, serif;
       font-size: medium;
       font-weight: bold;
     }

  .grid {
    background: darkred;
    background-color: rgb(11, 198, 255);
    display: flex;
    justify-content: last baseline;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
  }
  
  .camel {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:olive;
  }
  
  
  .chameleon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:lightpink;
  }
  
  .cicada {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:#E8E5E4;
  }
  
  .panda {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:rosybrown;
  }
  
  .pigeon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:orchid;
  }
  
  .teddy {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:yellowgreen;
  }

  
  .camel:hover{
    transform: scale(1.2);
  }

  .panda:hover{
    transform: scale(1.2);
  }


  .pigeon:hover{
    transform: scale(1.2);
  }


  .chameleon:hover{
    transform: scale(1.2);
  }


  .teddy:hover{
    transform: scale(1.2);
  }

  .cicada:hover{
    transform: scale(1.2);
  }

  
  a:link {

  color: aliceblue;

  }

  a:visited {

   color: red;

  }

  